nav ul{
    background: var(--nav-background);
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: .5rem;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: .5rem;
    cursor: pointer;
    color: var(--link-color);
}

nav ul li a{
    text-decoration: none;
    color: var(--link-color);
}



